<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.springbootapplication.mapper.UserMapper">

    <select id="countByEmail" parameterType="string" resultType="long">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <insert id="insert" parameterType="com.spring.springbootapplication.domain.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
            name,
            email,
            password_hash,
            introduction,
            avatar_image_url
        ) VALUES (
            #{name},
            #{email},
            #{passwordHash},
            #{introduction},
            #{avatarImageUrl}
        )
    </insert>

</mapper>